# Ignore all dotfiles except the whitelisted ones
.*
!.changeset
!.github
!.gitignore
!.vscode
!.node-version
!.env.tpl
*.csv
*.cursor

*-linux-x64
*-macos-arm64
*-macos-x64
*-win-x64.exe
*.blob
*-macos
out

# Ignore log output
*.log

# Ignore backup files
*.bkp

# Ignore tsbuildinfo
*.tsbuildinfo

# Ignore various outputs
dist/
build/
coverage/

# Ignore dependencies
node_modules/

# Vercel
.vercel
